<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{!-- div photo --}}
    <div class="councilOne">
        {{!-- <go to apiroutes.js> --}}
       <h1> Councilmember{{council.Name}}</h1>
       {{council.District}}<br>

        <h3>Term Elected:{{terms.elected}}</h3>
        <h3> Term Length: {{terms.termLength}}</h3>
        <h3> Term Expires: {{terms.termExpires}}</h3>
       <h3>Committees</h3>
            <p><strong>Chairman: </strong>{{council.CommitteesChair}}</p> <br>
            <p><strong>ViceChairman: </strong>{{council.ViceChair}}</p><br>
            <p><strong>Member: </strong>{{council.Member}}</p><br>
            <p><strong>Alternate: </strong>{{council.Alternate}}</p>

    <h3>Contact</h3>
        <p><strong>Phone:</strong> {{council.ContactPhone}}</p>
        <p><strong>Email: </strong>{{council.ContactEmail}}</p>



       



    </div>
</body>
</html>