<div class="row"><img class="panoo" src="/assets/pano.jpg" alt="seattle" 
    style="
    height: 300px;"
 ></div>
<div class="row">
    <div class="card-deck buff marginsCard">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mayor: {{terms.Mayor.name}}</h5>
                <p class="card-text">
                    <p>Elected: {{terms.Mayor.elected}}</p>
                    <p>Until: {{terms.Mayor.termExpires}}</p>
                    <p>Phone: 206-684-4000 </p>
                    <p>Email: jenny.durkan@seattle.gov </p>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/public/css/images/Herbold_225x225.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title">District 1: {{council.[0].Name}}</h5>
                <p class="card-text">
                    <p>Elected: {{terms.Council1.elected}}</p>
                    <p>Until: {{terms.Council1.termExpires}}</p>
                    <p>Phone: {{council.[0].ContactPhone}} </p>
                    <p>Email: {{council.[0].ContactEmail}} </p>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/public/css/images/Bruce-Harrell-2018_225x225 (1).jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">District 2: {{council.[1].Name}}</h5>
                <p class="card-text">
                    <p>Elected: {{terms.Council2.elected}}</p>
                    <p>Until: {{terms.Council2.termExpires}}</p>
                    <p>Phone: {{council.[1].ContactPhone}} </p>
                    <p>Email: {{council.[1].ContactEmail}} </p>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card-deck buff marginsCard">
        <div class="card">
            <img class="card-img-top" src="/public/css/images/Sawant_225x225.jpg" alt="Card image cap">
            <div class="card-body">
          <h5 class="card-title">District 3: {{council.[2].Name}}</h5>
                <p class="card-text">
                    <p>Elected: {{terms.Council3.elected}}</p>
                    <p>Until: {{terms.Council3.termExpires}}</p>
                    <p>Phone: {{council.[2].ContactPhone}} </p>
                    <p>Email: {{council.[2].ContactEmail}} </p>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/public/css/images/Abel-Pacheco-2019---Bokeh-Background.jpg" alt="Card image cap">
            <div class="card-body">
                   <h5 class="card-title">District 4: {{council.[3].Name}}</h5>
                <p class="card-text">
                    <p>Elected: {{terms.Council4.elected}}</p>
                    <p>Until: {{terms.Council4.termExpires}}</p>
                    <p>Phone: {{council.[3].ContactPhone}} </p>
                    <p>Email: {{council.[3].ContactEmail}} </p>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/public/css/images/Debora-Juarez-2018_225x225.jpg" alt="Card image cap">
            <div class="card-body">
                 <h5 class="card-title">District 5: {{council.[4].Name}}</h5>
                <p class="card-text">
                    <p>Elected: {{terms.Council5.elected}}</p>
                    <p>Until: {{terms.Council5.termExpires}}</p>
                    <p>Phone: {{council.[4].ContactPhone}} </p>
                    <p>Email: {{council.[4].ContactEmail}} </p>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card-deck buff marginsCard">
        <div class="card">
            <img class="card-img-top" src="/public/css/images/Mike-OBrien-2018_225x225.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">District 6: {{council.[5].Name}}</h5>
                <p class="card-text">
                    <p>Elected: {{terms.Council6.elected}}</p>
                    <p>Until: {{terms.Council6.termExpires}}</p>
                    <p>Phone: {{council.[5].ContactPhone}} </p>
                    <p>Email: {{council.[5].ContactEmail}} </p>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/public/css/images/Bagshaw_225x225.jpg" alt="Card image cap">
            <div class="card-body">
                   <h5 class="card-title">District 7: {{council.[6].Name}}</h5>
                <p class="card-text">
                    <p>Elected: {{terms.Council7.elected}}</p>
                    <p>Until: {{terms.Council7.termExpires}}</p>
                    <p>Phone: {{council.[6].ContactPhone}} </p>
                    <p>Email: {{council.[6].ContactEmail}} </p>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/public/css/images/Mosqueda_225x225.jpg" alt="Card image cap">
            <div class="card-body">
                   <h5 class="card-title">City at-Large Council 8: {{council.[7].Name}}</h5>
                <p class="card-text">
                    <p>Elected: {{terms.atLarge1.elected}}</p>
                    <p>Until: {{terms.atLarge1.termExpires}}</p>
                    <p>Phone: {{council.[7].ContactPhone}} </p>
                    <p>Email: {{council.[7].ContactEmail}} </p>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/public/css/images/Gonzalez-225x225.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">City at-Large Council 9: {{council.[8].Name}}</h5>
                <p class="card-text">
                    <p>Elected: {{terms.atLarge2.elected}}</p>
                    <p>Until: {{terms.atLarge2.termExpires}}</p>
                    <p>Phone: {{council.[8].ContactPhone}} </p>
                    <p>Email: {{council.[8].ContactEmail}} </p>
                </p>
            </div>
        </div>
    </div>
</div>